[Desktop Entry]
Categories=Network;
Comment=If you want to keep a secret, you must also hide it from yourself.
Comment[zh_CN]=If you want to keep a secret, you must also hide it from yourself.
Exec=qss-client %f
GenericName=DP SS
GenericName[zh_CN]=深度 SS
Icon=shadowsocks-client
Keywords=ss;socks;shadowsocks;qt5;gfw
MimeType=application/vnd.debian.binary-package;
Name=dp ss
Name[zh_CN]=深度 FLY
NotShowIn=KDE;
StartupNotify=true
Terminal=false
Type=Application
