[Desktop Entry]
Categories=Network;
Comment=If you want to keep a secret, you must also hide it from yourself.
Comment[zh_CN]=If you want to keep a secret, you must also hide it from yourself.
Exec=dpss %f
GenericName=ss for deepin
GenericName[zh_CN]=深度 FLY
Icon=dpss
Keywords=ss;socks;shadowsocks;qt5;
MimeType=application/vnd.debian.binary-package;
Name=dpss
Name[zh_CN]=深度 FLY
NotShowIn=KDE;
StartupNotify=true
Terminal=false
Type=Application
